body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #121212;
  color: white;
}

img {
  width: 80%;
  height: 80%;
}

.image-container {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
